<!DOCTYPE html>
<html ng-app="app" class="Login wf-gudea-n4-active wf-gudea-n7-active wf-active">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
    @charset "UTF-8";
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak,
    .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }

    ng\:form {
        display: block;
    }

    .ng-animate-shim {
        visibility: hidden;
    }

    .ng-anchor {
        position: absolute;
    }
    </style>
    <script src="./splash_files/webfont.js"></script>
    <style type="text/css"></style>
    <link rel="stylesheet" href="./splash_files/css" media="all">
    <script src="./splash_files/loadfont.js"></script>
    <title ng-bind="title" class="ng-binding">ConnectTheGrid | Login</title>
    <script src="./splash_files/config"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://comed.connectthegrid.com/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://comed.connectthegrid.com/images/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="./splash_files/lib-ac6d7ea3.css">
    <link rel="stylesheet" href="./splash_files/app-fdde9db9.css">
</head>

<body ng-controller="Core as coreVM" class="state  login landing" ng-class="{&#39;background-gradient-primary&#39;: coreVM.fullBackground &amp;&amp; coreVM.showLandingNav===false, &#39;fixed-view&#39;: coreVM.fixedView===true, &#39;flex-view&#39;: coreVM.fixedView===false &amp;&amp; !coreVM.fullBackground, &#39;internal-user&#39;: coreVM.user.isExternal===false, &#39;external-user&#39;: coreVM.user.isExternal===true, &#39;landing&#39;: coreVM.showLandingNav}">
    <div id="wrapper">
        <!-- Navbar -->
        <div id="header-container">
            <!-- ngIf: coreVM.hideNav===false && coreVM.showLandingNav===false -->
            <!-- ngIf: coreVM.showLandingNav -->
            <!-- ngInclude: 'app/core/layout/navbar/navbar.landing.html' -->
            <div class="navbar-container ng-scope" ng-if="coreVM.showLandingNav" ng-include="&#39;app/core/layout/navbar/navbar.landing.html&#39;">

            </div>
            <!-- end ngIf: coreVM.showLandingNav -->
        </div>
        <!-- Body -->
        <!-- uiView:  -->
        <div id="main-container" ng-class="{&#39;content-margin-top&#39;: coreVM.hideNav===false}" ui-view="" class="ng-scope">
            <div id="login" class="ng-scope">
                <div class="row">
                    <div class="col-lg-12 col-sm-6 text-center">
                        <p class="lead">Welcome to the new and improved
                            <br>Interconnection and Net Metering homepage</p>
                        <p>The Interconnection and Net Metering website is currently being updated to provide you with a user friendly experience.</p>
                        <p>Please check back later.</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <!-- ngInclude: undefined -->
        <div id="footer-container" class="footer-container printRemove">
            <div class="footer comed-footer" id="footer" ng-controller="Footer as vm">
                <div class="flex-row">
                    <div class="flex-column">
                        <table class="table link-menu support">
                            <tr>
                                <td>Support</td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li ng-repeat="supportLink in vm.footerSupportLinks">
                                            <a target="_blank" ng-href="{{supportLink.LinkHref}}">{{supportLink.Text}}</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="flex-column">
                        <table class="table link-menu contact-us">
                            <tr>
                                <td>Contact Us</td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li ng-repeat="contactLink in vm.footerContactLinks">
                                            <a target="_blank" ng-href="{{contactLink.LinkHref}}">{{contactLink.Text}}</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="flex-column">
                        <table class="table link-menu site-map">
                            <tr ng-if="coreVM.user">
                                <td>Site Map</td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li ui-sref="applications.queue">My Applications</li>
                                        <li ui-sref="user.account">Account Settings</li>
                                        <li ui-sref="help">Help</li>
                                        <li ng-click="shellVM.logout()">Log Out</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-if="!coreVM.user">
                                <td>Site Map</td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li ui-sref="login">Log In</li>
                                        <li ui-sref="forgotPassword">Forgot Password</li>
                                        <li ui-sref="user.register">Register</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="flex-column hidden-xs">
                        <div class="legal-text">
                            <div class="legal"><strong>ConnectTheGrid</strong></div>
                            <p>Copyright 2015 West Monroe Partners, LLC.
                                <br>All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
                <div class="flex-row visible-xs legal-text">
                    <div class="separator"></div>
                    <div class="text-center"><strong class="legal">ConnectTheGrid</strong> | <small>Copyright 2015 West Monroe Partners, LLC. All Rights Reserved.</small></div>
                </div>
            </div>
        </div>
    </div>
    <span data-cc-scroll-to-top=""></span>
    <script src="./splash_files/lib-b3616dea.js"></script>
    <script src="./splash_files/app-615670c6.js"></script>
    <!--[if lte IE 8]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<![endif]-->
</body>

</html>
